<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvI-7bRwOTF5oxsW7UuYuCJCMdCATXqyA</string>
	<key>GCM_SENDER_ID</key>
	<string>1015843718442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sezonApp</string>
	<key>PROJECT_ID</key>
	<string>sezon-app-41811</string>
	<key>STORAGE_BUCKET</key>
	<string>sezon-app-41811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015843718442:ios:81dc17daf9426de9354a53</string>
</dict>
</plist>